@import 'sheets/actor/lvl0-character-actor-sheet';
@import 'sheets/item/lvl0-item-sheet';

@import 'chat/chat';

input[type=text] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}

input[type=number] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}

/* ripple.directive.css or in your global styles.css */
.lvl0-ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: lvl0-ripple-animation 0.6s linear;
  background: rgba(162, 162, 162, 0.7);
  pointer-events: none;
}

@keyframes lvl0-ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

// Remove border from foundry
h3 {
  border-bottom: unset;
}
