@import 'sheets/actor/lvl0-character-actor-sheet';
@import 'sheets/item/lvl0-item-sheet';

@import 'chat/chat';

input[type=text] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}

input[type=number] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}
