<div (click)="toggleDetails()" class="roll-with-details">
  <ng-content></ng-content>
</div>
@if (showDetails) {
  <div class="roll-details" (click)="toggleDetails()">
    <div class="close-button" (click)="toggleDetails()"><i class="fa fa-close"></i></div>
    <div class="formula">
      {{roll.formula}}
    </div>
    <div class="terms">
      @for (term of roll.terms; track term) {
        @for (termResult of term.results; track termResult) {
          <div [class]="'roll-dice ' + 'dice-d' + term.faces">{{termResult.result}}</div>
        }
      }
    </div>
  </div>
}
