.roll-with-details {
  cursor: pointer;
}
.roll-details {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  border: 1px solid #a6a6a6;
  box-shadow: #444444 1px 1px 1px 1px;

  .formula {
    opacity: 0.60;
  }
  .terms {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
  .dice-d6 {
    background-image: url("/icons/svg/d6-grey.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: grid;
    justify-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
  }

  .close-button {
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
