:host {
  .skill-name {
    text-align: center;
    font-size: 1.5em;
  }

  .spell {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .spell-name {
      font-size: 1.25em;
      text-align: center;
    }

    .spell-action {
      text-align: center;
    }
  }

  .roll-result {
    text-align: center;
    font-size: 1.125em;
  }

  .show-details {
    cursor: pointer;
    text-align: center;
    margin-block: 8px;
  }

  .details {
    position: relative;
    padding: 4px;
    margin-top: 4px;
    border: 1px solid #a6a6a6;
    box-shadow: #444444 1px 1px 1px 1px;
    .close-button {
      cursor: pointer;
      position: absolute;
      width: 24px;
      height: 24px;
      right: 0;
      top: 0;
      display: grid;
      align-items: center;
      justify-content: center;
    }
  }
}
