:host {
  .skill-name {
    text-align: center;
    font-size: 1.5em;
  }

  .roll-result {
    text-align: center;
    font-size: 1.125em;
  }

  .weapon {
    display: grid;
    grid-template-areas: "icon name" "icon details";
    grid-template-columns: auto 1fr;
    column-gap: 8px;

    .icon {
      grid-area: icon;
    }

    .name {
      grid-area: name;
    }

    .details {
      grid-area: details;
    }

  }
  .damage {
    text-align: center;
    font-size: 1.25em;
  }
}
