<ng-container *ngIf="skillDefinition">
    <h3>{{ skillDefinition.name }}</h3>
    <div class="roll-result">
        <lvl0-roll-detail [roll]="data.testRoll">
            <i class="fa fa-dice"></i>
            {{ data.testRoll.total }} / {{ data.successValue }}
            (<span [class]="'roll-result-' + data.result">{{ data.result | translate: 'Misc.RollResult' }}</span>)
        </lvl0-roll-detail>
    </div>
</ng-container>
@if(data.extraData; as extraData) {
    @switch (extraData.kind) {
        @case ('cast-spell') {
            <lvl0-spell-roll-chat-message [data]="extraData.data"></lvl0-spell-roll-chat-message>
        }
        @case ('damage') {
            <hr>
            <div class="weapon">
                <span class="icon"><img width="48" height="48" [src]="extraData.data.weapon.icon"></span>
                <span class="name">{{extraData.data.weapon.name}}</span>
                <span class="details">{{extraData.data.weapon.damageRollFormula}}<span *ngIf="extraData.data.weapon.element"> ({{extraData.data.weapon.element}})</span></span>
            </div>
            <div class="weapon" *ngIf="extraData.data.ammunition">
                <span class="icon"><img width="48" height="48" [src]="extraData.data.ammunition.icon"></span>
                <span class="name">{{extraData.data.ammunition.name}}</span>
                <span class="details">{{extraData.data.ammunition.damageRollFormula}}<span *ngIf="extraData.data.ammunition.element"> ({{extraData.data.ammunition.element}})</span></span>
            </div>
            <hr>
            <div class="damage">
                <ng-container *ngIf="data.result == 'success' || data.result == 'criticalSuccess'">
                    <lvl0-roll-detail [roll]="extraData.data.damageRoll!">
                        Dégâts: {{ extraData.data.damageRoll?.total }} ({{ extraData.data.damageElement }})
                    </lvl0-roll-detail>
                </ng-container>
            </div>
        }
        @case ('shield-damage') {
            <hr>
            <div class="weapon">
                <span class="icon"><img width="48" height="48" [src]="extraData.data.shield.icon"></span>
                <span class="name">{{extraData.data.shield.name}}</span>
                <span class="details">Dégâts: {{extraData.data.shield.damageRollFormula}}<span *ngIf="extraData.data.shield.element"> ({{extraData.data.shield.element}})</span></span>
            </div>
            <hr>
            <div class="damage">
                <ng-container *ngIf="data.result == 'success' || data.result == 'criticalSuccess'">
                    <lvl0-roll-detail [roll]="extraData.data.damageRoll!">
                        Dégâts: {{ roundDamageUp(extraData.data.damageRoll?.total) }}
                    </lvl0-roll-detail>
                </ng-container>
            </div>
        }
    }
}
