<div class="speciality">
    <div class="name">{{ speciality.name }}</div>
    <img class="icon" width="48" height="48" src="{{speciality.icon}}">
    <div class="mana-used">
        Mana utilisé: {{ data.manaUsed }}
    </div>
    <div class="description">
        <div>{{ speciality.description }}</div>
    </div>
</div>

<ng-container [ngSwitch]="data.specialityId">
    <ng-container *ngSwitchCase="'arrow_volley'">
        <div class="extra-data__arrow-volley" *ngIf="arrowVolleyData(data) as arrowVolleyData">
            <div class="weapon">
                <span class="icon"><img width="32" height="32" [src]="arrowVolleyData.weapon.icon"></span>
                <span class="name">{{arrowVolleyData.weapon.name}}</span>
            </div>
            <div *ngFor="let arrow of arrowVolleyData.arrows" class="arrow">
                <div>Flèche {{arrow.arrowNumber}}</div>
                <div *ngIf="arrow.result == 'success' || arrow.result == 'criticalSuccess' && arrow.ammunition">{{arrow.ammunition?.name}}</div>
                <div class="arrow-result">
                    <div class="roll-result">
                        <lvl0-roll-detail [roll]="arrow.testRoll">
                            <i class="fa fa-dice"></i> {{arrow.testRoll.total}} / {{arrowVolleyData.skillSuccessValue}}
                            (<span [class]="'roll-result-' + arrow.result">{{arrow.result | translate: 'Misc.RollResult'}}</span>)
                        </lvl0-roll-detail>
                    </div>
                    <div class="damage">
                        <ng-container *ngIf="arrow.result == 'success' || arrow.result == 'criticalSuccess'">
                            <lvl0-roll-detail [roll]="arrow.damageRoll">
                                Dégâts: {{ arrow.damage }} ({{ arrow.element }})
                            </lvl0-roll-detail>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
<!--


let message = `<div class="skill-roll-arrow-volley">
    <div class="title">${specialityDefinition.name}</div>`;

    message += `<div class="weapon">`;
    message += `<span class="name">${weapon.name}</span>`;
    message += `<span class="damage"><i class="fas fa-dice"></i> ${weaponDamageRollFormula}</span>`;
    message += `<img class="img" src="${weapon.img}" />`;
    message += `</div>`;

    for (const arrow of arrows) {
    message += `<div class="arrow">`;
    message += `<span class="label"><span class="arrow-number">Flèche ${arrow.arrowNumber}</span>`;

                if (arrow.result === 'success' || arrow.result === 'criticalSuccess') {
    if (arrow.ammunition) {
    let ammunitionData = arrow.ammunition.data as AmmunitionItemProperties;
    message += `<span class="ammunition">
        <span class="ammunition-name">${arrow.ammunition.name} - ${ammunitionData.data.extraDamage}</span>
                            <img class="ammunition-img" src="${arrow.ammunition.img}" />
                        </span>`;
    }
    }
    message += `</span>`;
    message += `<span class="test-result"><i class="fas fa-dice"></i> ${arrow.testRollResult} / ${successRollValue} (${this.rollUtil.getTestResultMessage(arrow.result)})</span>`;
                message += `<span class="test-roll">${await this.rollUtil.renderRollSmall(arrow.testRoll)}</span>`;
                if (arrow.result === 'success' || arrow.result === 'criticalSuccess') {
    message += `<span class="damage-result">Dégâts: ${arrow.damage} ${arrow.element ? '(' + this.elementRepository.getElementWeaponName(arrow.element) + ')' : ''}</span>`;
    message += `<span class="damage-roll">${await this.rollUtil.renderRollSmall(arrow.damageRoll)}</span>`;
    }
    message += `</div>`;
    }
    message += `</div>`;

let content = message;
let speaker = ChatMessage.getSpeaker({actor: token.actor});
let damageRolls = arrows.filter(a => this.rollUtil.isSuccess(a.result)).map(a => a as {damageRoll: Roll}).map(x => x.damageRoll);
let allRolls = [...arrows.map(a => a.testRoll), ...damageRolls];
// @ts-ignore
await ChatMessage.create({speaker, content, type: CONST.CHAT_MESSAGE_TYPES.ROLL, roll: this.rollUtil.mergeRolls(allRolls)});

if (ammunition) {
    await ammunition.update({
        data: {
            quantity: Math.max(0, ammunition.data.data.quantity - ammunitionUsed)
                    }
                }, {diff: true});
    }
-->
