@if (spellDefinition) {
  <div class="spell">
    @if (data.additionalAction) {
      <div class="additiona-action">
        {{ data.additionalAction | translate: 'Chat.RollSkill.SpellAdditionalAction' }}
      </div>
    }
    <div class="header">
      <div class="icon">
        <img alt="" width="48" height="48" [src]="spellDefinition.icon">
      </div>
      <div class="name">
        <h3>{{spellDefinition.name}} - Arcane {{spellDefinition.level}}</h3>
        @if (data.spell.context.arcaneLevel && spellDefinition.level != data.spell.context.arcaneLevel) {
          <div>
            (Calculé au niveau d'arcane {{data.spell.context.arcaneLevel}})
          </div>
        }
      </div>
    </div>
    <div class="description" [innerHTML]="data.spell.data.description | markdown"></div>
    <div class="stats">
      <div class="packed-values">
        <div class="spell-value">
          <span class="label">{{ 'cost' | translate:'Spell.Label' }}:</span>
          <span class="value">{{data.spell.data.effectiveCost}} mana</span>
        </div>
        @if (data.spell.data.area) {
          <lvl0-spell-roll-chat-value [name]="'area'" [value]="data.spell.data.area"/>
        }
        @if (data.spell.data.duration) {
          <lvl0-spell-roll-chat-value [name]="'duration'" [value]="data.spell.data.duration"/>
        }
        @if (data.spell.data.distance) {
          <lvl0-spell-roll-chat-value [name]="'distance'" [value]="data.spell.data.distance"/>
        }
      </div>
      <div class="values">
        @if (data.spell.data.damage) {
          <lvl0-spell-roll-chat-value [name]="'damage'" [value]="data.spell.data.damage"/>
        }
        @if (data.spell.data.bonus) {
          <lvl0-spell-roll-chat-value [name]="'bonus'" [value]="data.spell.data.bonus"/>
        }
        @if (data.spell.data.heal) {
          <lvl0-spell-roll-chat-value [name]="'heal'" [value]="data.spell.data.heal"/>
        }
        @if (data.spell.data.resilience) {
          <lvl0-spell-roll-chat-value [name]="'resilience'" [value]="data.spell.data.resilience"/>
        }
        @if (data.spell.context.criticalSuccess && data.spell.data.criticalSuccess) {
          <lvl0-spell-roll-chat-value [name]="'criticalSuccess'" [value]="data.spell.data.criticalSuccess"/>
        }
      </div>
    </div>
    <div class="actions">
      @if (data.spell.context.epicFail) {
        <div class="epic-fail">
          <!-- FIXME Only show for the user who rolled it -->
          <button lvl0Ripple (click)="rollEpicFail()"><i class="fas fa-dice"></i> Échec critique</button>
        </div>
      }
      @if (data.spell.data.actions) {
        @for (action of data.spell.data.actions; track action) {
          <div>
            <button lvl0Ripple (click)="executeAction(action)">{{action.name}}</button>
          </div>
        }
      }
    </div>
  </div>
}
