:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  .label {
    font-weight: bold;
    align-self: start;
  }
  .value {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}
