.additiona-action{
  text-align: center;
  font-size: 1.125em;
}
.spell {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .header {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    h3 {
      font-size: 1.25em;
      margin-bottom: 4px;
    }
    .icon {
      flex: 0 0 auto;
      width: 48px;
      height: 48px;
    }
  }
}
.spell-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  .label {
    font-weight: bold;
  }
}
.packed-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}
