<form class="filter-form" #filterForm="ngForm" [style.display]="selectedSpellDefinition ? 'none' : undefined">
  <div class="filter-line">
    <input [(ngModel)]="filterModel.filter" name="filter" type="text" [placeholder]="'Misc.Filter.PlaceHolder' | translate">
  </div>

  <div class="arcane-levels">
    Niveau d'arcane:
    @for (arcaneLevel of arcanesLevels; track arcaneLevel) {
      <a (click)="toggleArcaneLevel($event, arcaneLevel)" [class.active]="filterModel.arcaneLevels.includes(arcaneLevel)" class="level item">
        {{arcaneLevel}}
      </a>
    }
    <a (click)="toggleArcaneLevel($event, 0)" [class.active]="filterModel.arcaneLevels.length === 0" class="level item">
      Tout
    </a>
  </div>
</form>

@if (!selectedSpellDefinition) {
  <div class="spells">
    @for (spellResult of availableSpells$ | async; track spellResult) {
      <div class="spell">
        <div class="header">
          <img class="icon" src="{{spellResult.obj.icon}}">
          <h2 class="title" [innerHTML]="highlightSpellName(spellResult)"></h2>
          <span class="subtitle">Niveau: {{spellResult.obj.level}} - Spe: {{spellResult.obj.specializationName}}</span>
        </div>
        <div class="description" [innerHTML]="highlightDescription(spellResult) | markdown"></div>
        <div class="actions">
          @if (!spellResult.obj.dependsOnArcaneLevel) {
            <button type="button" (click)="selectSpellDefinition(spellResult.obj)">Choisir</button>
          }
          @if (spellResult.obj.dependsOnArcaneLevel) {
            <button type="button" (click)="selectSpellDefinition(spellResult.obj)">Choisir...</button>
          }
        </div>
      </div>
    } @empty {
        @if (!this.filterModel.arcaneLevels || this.filterModel.arcaneLevels.length === 0) {
            Aucun sort trouvé
        } @else if (this.filterModel.arcaneLevels.length === 1) {
            Aucun sort trouvé pour le niveau d'arcane: {{this.filterModel.arcaneLevels.join(',')}}
        } @else if (this.filterModel.arcaneLevels.length > 1) {
            Aucun sort trouvé pour les niveaux d'arcanes: {{this.filterModel.arcaneLevels.join(',')}}
        }
    }
  </div>
}

@if (selectedSpell) {
  <div class="selected-spell">
    <h2>Choisir le niveau d'arcane</h2>
    <div class="arcane-levels">
      @for (arcaneLevel of arcanesLevels; track arcaneLevel) {
        <a (click)="selectArcaneLevelForSpell(arcaneLevel)" class="level" [class.active]="arcaneLevel === selectedSpellContext.arcaneLevel">
          {{arcaneLevel}}
        </a>
      }
    </div>
    <h2>Sort</h2>
    <lvl0-spell [spell]="selectedSpell"></lvl0-spell>
    <button type="button" (click)="selectSpell()">Choisir</button>
  </div>
}

