.filter-form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .arcane-levels {
        display: flex;
        justify-content: space-between;

        .level {
            flex: 1;
            text-align: center;
            &.active {
                text-decoration: underline;
            }
        }
    }

    margin-bottom: 16px;
}

.spells {
    .spell {
        > * + * {
            margin-bottom: 8px;
        }

        .header {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
            grid-template-areas: "icon title" "icon subtitle";
            grid-column-gap: 8px;
            align-items: center;

            .icon {
                grid-area: icon;
                width: 64px;
                height: 64px;
            }

            .title {
                grid-area: title;
                margin-bottom: 4px;
            }
            .subtitle {
                grid-area: subtitle;
                margin-bottom: 4px;
                align-self: flex-start;
            }
        }

        .stats {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .label {
            font-weight: bold;
        }

        .actions {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            column-gap: 8px;
            row-gap: 8px;
        }
    }
}

.selected-spell {

    .arcane-levels {
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 1.5em;

        .level {
            flex: 1;
        }
        .active {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
