.selectable-line {
  cursor: pointer;
  padding: 8px;
}

.weapons {
  .weapon-line {
    &.header {
      font-weight: bold;
    }

    display: grid;
    grid-template-columns: 32px 1fr 150px 50px;
    grid-column-gap: 8px;
    grid-template-areas: "icon name damage handCount";
    align-items: center;
    margin-block: 2px;

    .icon {
      > img {
        border: 0;
      }
    }

    .name {
      grid-area: name;
      position: relative;

      .title {
        font-weight: bold;
      }

      .description {
        background: var(--background);
        top: 28px;
        border: 1px solid var(--color-text-primary);
        color: var(--color-text-primary);
        z-index: 1;
        visibility: hidden;
        width: 270px;
        padding-inline: 0.5rem;
        position: absolute;
      }

      &:hover {
        .description {
          visibility: visible;
        }
      }
    }

    .handCount {
      grid-area: handCount;
      justify-self: center;
    }

    .damage {
      grid-area: damage;
    }
  }
}

.ammunition {
  .ammunition-line {
    &.header {
      font-weight: bold;
    }

    display: grid;
    grid-template-columns: 32px 1fr 150px 50px;
    grid-column-gap: 8px;
    grid-template-areas: "icon name damage quantity";
    align-items: center;
    margin-block: 2px;

    .icon {
      > img {
        border: 0;
      }
    }

    .name {
      grid-area: name;
      position: relative;

      .title {
        font-weight: bold;
      }

      .description {
        background: var(--background);
        top: 28px;
        border: 1px solid var(--color-text-primary);
        color: var(--color-text-primary);
        z-index: 1;
        visibility: hidden;
        width: 270px;
        padding-inline: 0.5rem;
        position: absolute;
      }

      &:hover {
        .description {
          visibility: visible;
        }
      }
    }

    .quantity {
      grid-area: quantity;
      justify-self: center;
    }

    .damage {
      grid-area: damage;
    }
  }
}

.separator {
  height: 1px;
  background-color: black;
  opacity: 0.25;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  display: grid;
  column-gap: 8px;
  margin-top: 16px;
  grid-template-columns: 1fr 1fr;
}

.selected {
  background-color: var(--lvl0-weapon-selector-selected-bg-color);
  outline: 1px solid var(--lvl0-weapon-selector-selected-border-color);
}

::ng-deep .theme-light {
  --lvl0-weapon-selector-selected-bg-color: #c0d7b6;
  --lvl0-weapon-selector-selected-border-color: #a5a5a5;
}

::ng-deep .theme-dark {
  --lvl0-weapon-selector-selected-bg-color: #91919152;
  --lvl0-weapon-selector-selected-border-color: #a5a5a5;
}
