@switch (valueType()) {
    @case ('string') {
        <div [class]="label">
            <span class="label">{{ label | translate:'Spell.Label' }}&nbsp;</span>
            <span class="value">{{ value }}</span>
        </div>
    }
    @case ('rollable') {
        <div [class]="label">
            <span class="label">{{ label | translate:'Spell.Label' }}&nbsp;</span>
            <span class="value">{{ valueAsRollable().toDisplayString() }}</span>
        </div>
    }
    @default {
        <div>
            UNK: {{ label }}:{{ value|json }}
        </div>
    }
}
