.spell {
    > * + * {
        margin-bottom: 8px;
    }

    .header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 8px;
        align-items: center;

        .icon {
            width: 64px;
            height: 64px;
        }
    }

    .stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .label {
        font-weight: bold;
    }

    .superior-arcane-capability {
        margin-block: 4px;
        padding: 4px;
        border: 1px dashed black;
    }
}
