<div class="spell">
  <div class="header">
    <img class="icon" [src]="spell.definition.icon">
    <div>
      @if (overrideSpellName) {
        <h2 class="name" [innerHTML]="overrideSpellName"></h2>
      }
      @if (!overrideSpellName) {
        <h2 class="name">{{spell.definition.name}}</h2>
      }
      <span class="level">Arcane: {{spell.definition.level}}</span>@if (spell.context.arcaneLevel && spell.context.arcaneLevel !== spell.definition.level) {
      <span> - (Calculé au niveau d'arcane {{spell.context.arcaneLevel}})</span>
    }
  </div>
</div>
@if (spell.computedData.superiorArcaneCapability) {
  <div class="superior-arcane-capability">
    <div>
      Sort de niveau d'arcane plus élevé que celui du personnage.
    </div>
    <ul>
      <li>Item permettant le lancement du sort: <strong>{{spell.computedData.superiorArcaneCapability.label}}</strong></li>
      @if (spell.computedData.superiorArcaneCapability.damageOnCaster) {
        <li>
          <strong>{{spell.computedData.superiorArcaneCapability.damageOnCaster}}</strong> point de dégâts lors du lancement de ce sort
        </li>
      }
    </ul>
  </div>
}
<div class="description" [innerHTML]="(overrideDescription || spell.computedData.description) | markdown"></div>
<div class="stats">
  <div class="cost"><span class="label">Coût</span> {{spell.computedData.effectiveCost}} point de mana</div>
  @if (spell.computedData.distance) {
    <lvl0-spell-stat-value [label]="'distance'" [value]="spell.computedData.distance"></lvl0-spell-stat-value>
  }
  @if (spell.computedData.duration) {
    <lvl0-spell-stat-value [label]="'duration'" [value]="spell.computedData.duration"></lvl0-spell-stat-value>
  }
  @if (spell.computedData.area) {
    <lvl0-spell-stat-value [label]="'area'" [value]="spell.computedData.area"></lvl0-spell-stat-value>
  }
</div>
@if (spell.computedData.criticalSuccess) {
  <lvl0-spell-stat-value [label]="'criticalSuccess'" [value]="spell.computedData.criticalSuccess"></lvl0-spell-stat-value>
}
@if (spell.computedData.resilience) {
  <lvl0-spell-stat-value [label]="'resilience'" [value]="spell.computedData.resilience"></lvl0-spell-stat-value>
}
@if (spell.computedData.bonus) {
  <lvl0-spell-stat-value [label]="'bonus'" [value]="spell.computedData.bonus"></lvl0-spell-stat-value>
}
@if (spell.computedData.damage) {
  <lvl0-spell-stat-value [label]="'damage'" [value]="spell.computedData.damage"></lvl0-spell-stat-value>
}
@if (spell.computedData.heal) {
  <lvl0-spell-stat-value [label]="'heal'" [value]="spell.computedData.heal"></lvl0-spell-stat-value>
}
</div>
