@if (valueAsRollable(); as spellValue) {
  <div [class]="label">
    <span class="label">{{ label | translate:'Spell.Label' }}&nbsp;</span>
    <span class="value">{{ spellValue.formula }}@if (spellValue.unit) {
      <span> {{ spellValue.unit }}</span>
      } @if (spellValue.element) {
      <span
      > {{ spellValue.element | translate: 'Element.Name' }}</span>
    }</span>
  </div>
} @else {
  <div [class]="label">
    <span class="label">{{ label | translate:'Spell.Label' }}&nbsp;</span>
    <span class="value">{{ value }}</span>
  </div>
}
