.sheet-item {
  .modifier-values {
    .modifier-value {
      display: grid;
      grid-gap: 8px;
      align-items: center;
      grid-template-columns: 1fr auto 1fr auto;
    }
    margin-bottom: 8px;
  }
  .form-group {
    display: grid;
    grid-template-rows: auto auto;
  }

  .spell-selection {
    display: grid;
    grid-template-columns: 1fr 140px auto;
    grid-template-areas: "spell-id arcane-level select-button" "spell spell spell";
    align-items: center;
    gap: 8px;
    .arcane-level {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 40px;
      gap: 8px;
    }
    .spell {
      grid-area: spell;
      display: grid;
      column-gap: 8px;
      grid-template-rows: auto auto;
      grid-template-columns: 36px 1fr 120px;
      grid-template-areas: "icon name actions" "icon details actions";
      .icon {
        grid-area: icon;
      }
      .name {
        grid-area: name;
      }
      .details {
        grid-area: details;
      }
      .actions {
        grid-area: actions;
      }
    }
  }

  .attribute-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 8px;
    .form-group-small {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }
}
