.partial-root-equipment {
  display: grid;
  grid-template-areas:
          "weapons    weapons   weapons"
          "equipment  arrow     arrow"
          "equipment  dart      dart"
          "equipment  ration    ration"
          "equipment  torch     torch"
          "equipment  potions   money";
  grid-gap: 8px;
  grid-template-columns: 200px 1fr 150px;

  >section {
    border: 1px solid black;
    padding: 4px;
  }

  .weapons {
    grid-area: weapons;
  }

  .equipment {
    grid-area: equipment;
  }

  .arrow {
    grid-area: arrow;
  }

  .dart {
    grid-area: dart;
  }

  .ration {
    grid-area: ration;
  }

  .torch {
    grid-area: torch;
  }

  .potions {
    grid-area: potions;
  }

  .money {
    grid-area: money;
  }

  .equipment {
    .slot {
      display: grid;
      grid-template-areas: "title title" "icon info";
      grid-template-columns: 32px 1fr;
      grid-column-gap: 8px;
      align-items: center;

      h3 {
        text-align: center;
        grid-area: title;
      }

      .icon {
        grid-area: icon;
        > img {
          border: 0;
        }
      }
      .info {
        grid-area: info;
        margin: 8px 0;
        .modifier {
          margin-left: 16px;
        }
        .extra-skill {
          margin-left: 16px;
        }
      }
    }
    .separator {
      border-bottom: 1px solid gray;
    }
  }

  .arrow,
  .dart,
  .ration,
  .torch,
  .potions,
  {
    display: grid;
    align-items: center;
    grid-template-areas: "title info" "content content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;

    > h3 {
      grid-area: title;
    }

    .info {
      grid-area: info;
    }

    .content {
      grid-area: content;
      color: darkgrey;
    }
  }

  .weapons {
    .weapon-line {
      &.header {
        font-weight: bold;
      }
      display: grid;
      grid-template-columns: 50px 32px 1fr 100px 100px 100px;
      grid-column-gap: 8px;
      grid-template-areas: "equiped icon name damage handCount clutter";
      align-items: center;

      .equiped {
        justify-self: center;
        grid-area: equiped;
      }

      .icon {
        > img {
          border: 0;
        }
      }

      .name {
        grid-area: name;
      }

      .handCount {
        grid-area: handCount;
      }

      .damage {
        grid-area: damage;
      }

      .clutter {
        grid-area: clutter;
      }
    }
  }
}
