@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --color-critical-success: green;
  --color-success: green;
  --color-fail: darkred;
  --color-epic-fail: darkred;
}

.theme-light {
  --color-stat-phy: #cf2541;
  --color-stat-dex: #3da610;
  --color-stat-int: #0633ff;
  --color-stat-cha: #ff9500;
  --color-stat-per: #ab31d8;
}

.theme-dark {
  --color-stat-phy: #ff4d67;
  --color-stat-dex: #33ad14;
  --color-stat-int: #4d67ff;
  --color-stat-cha: #c69c4f;
  --color-stat-per: #ad57cc;
}

.cdk-menu.application {
  position: relative;
}

.stat-phy {
  color: var(--color-stat-phy);
}

.stat-dex {
  color: var(--color-stat-dex);
}

.stat-int {
  color: var(--color-stat-int);
}

.stat-cha {
  color: var(--color-stat-cha);
}

.stat-per {
  color: var(--color-stat-per);
}
.roll-result-criticalSuccess {
  color: var(--color-critical-success)
}
.roll-result-success {
  color: var(--color-success)
}
.roll-result-fail {
  color: var(--color-fail)
};
.roll-result-epicFail {
  color: var(--color-epic-fail)
}
