@import "skill-roll-chat";

.skill-shield-damage-roll-chat {
  @extend .skill-roll-chat;

  .shield {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "img name"
                         "img damage"
                         "img roll";
    align-items: center;
    column-gap: 8px;
    .name {
      grid-area: name;
      font-size: 15px;
    }

    .damage {
      grid-area: damage;
      font-size: 15px;
    }

    .img {
      grid-area: img;
      width: 48px;
      height: 48px;
    }
  }
  .label {
    font-weight: bold;
  }

  .damage {
    font-size: 17px;
    text-align: center;
  }
}
