@import "skill-roll-chat";

.skill-roll-spell-chat {
  @extend .skill-roll-chat;

  .spell {
    .name {
      font-size: 17px;
    }
    .stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .label {
      font-weight: bold;
    }
    .damage {
      font-size: 17px;
      text-align: center;
    }
  }
}
