.skill-roll-damage {
  display: flex;
  flex-direction: column;

  * + * {
    margin-bottom: 8px;
  }

  .result {
    grid-area: result;
    font-size: 20px;
    text-align: center;
    .total {
      font-weight: bold;
    }
  }

  .title {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
  }

  .test {
    font-size: 15px;
    text-align: center;
  }

  .item {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-areas: "img name"
                         "img damage"
                         "img roll";
    align-items: center;
    column-gap: 8px;

    .name {
      grid-area: name;
      font-size: 15px;
    }

    .damage {
      grid-area: damage;
      font-size: 15px;
    }

    .img {
      grid-area: img;
      width: 48px;
      height: 48px;
    }

    .roll {
      grid-area: roll;
    }


  }
}
