<div class="spell-definition-selector-dialog sheet">
    <div class="search-box">
        Rechercher: <input autofocus type="text" data-search-box value="{{filterTerm}}"/>
    </div>

    <div class="spells">

    </div>
</div>
