<div class="spell-selector-dialog sheet">
    <lvl0-spell-selector
        id="spell-selector"
        character-id="{{actorId}}"
        spell-class="{{spellClass}}">
    </lvl0-spell-selector>
</div>
