.weapon-selector-dialog {
  .weapons {
    .weapon-line {
      &.header {
        font-weight: bold;
      }

      display: grid;
      grid-template-columns: 32px 32px 1fr 150px 50px;
      grid-column-gap: 8px;
      grid-template-areas: "select icon name damage handCount";
      align-items: center;
      height: 36px;
      margin-block: 4px;

      .icon {
        > img {
          border: 0;
        }
      }

      .name {
        grid-area: name;
        position: relative;

        .title {
          font-weight: bold;
        }

        .description {
          background: #23221d;
          top: 28px;
          border: 1px solid #000;
          border-radius: 5px;
          color: #EEE;
          z-index: 1;
          visibility: hidden;
          position: absolute;
        }

        &:hover {
          .description {
            visibility: visible;
          }
        }
      }

      .handCount {
        grid-area: handCount;
        justify-self: center;
      }

      .damage {
        grid-area: damage;
      }
    }
  }

  .ammunition {
    .ammunition-line {
      &.header {
        font-weight: bold;
      }

      height: 36px;
      display: grid;
      grid-template-columns: 32px 32px 1fr 150px 50px;
      grid-column-gap: 8px;
      grid-template-areas: "select icon name damage quantity";
      align-items: center;
      margin-block: 4px;

      .icon {
        > img {
          border: 0;
        }
      }

      .name {
        grid-area: name;
        position: relative;

        .title {
          font-weight: bold;
        }

        .description {
          background: #23221d;
          top: 28px;
          border: 1px solid #000;
          border-radius: 5px;
          color: #EEE;
          z-index: 1;
          visibility: hidden;
          position: absolute;
        }

        &:hover {
          .description {
            visibility: visible;
          }
        }
      }

      .quantity {
        grid-area: quantity;
        justify-self: center;
      }

      .select {
        grid-area: select;
        justify-self: center;
      }

      .damage {
        grid-area: damage;
      }
    }
  }

  .separator {
    height: 1px;
    background-color: black;
    opacity: 0.25;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
  }

  .actions {
    display: grid;
    column-gap: 8px;
    grid-template-columns: 1fr 1fr;
  }
}

