.partial-root-equipment {
  display: grid;
  grid-template-areas:
          "weapons    weapons   weapons"
          "equipment  arrow     arrow"
          "equipment  dart      dart"
          "equipment  ration    ration"
          "equipment  torch     torch"
          "equipment  potions   money";
  grid-gap: 8px;
  grid-template-columns: 200px 1fr 170px;

  > section {
    border: 1px solid black;
    padding: 4px;
  }

  .weapons {
    grid-area: weapons;
  }

  .equipment {
    grid-area: equipment;
  }

  .arrow {
    grid-area: arrow;
  }

  .dart {
    grid-area: dart;
  }

  .ration {
    grid-area: ration;
  }

  .torch {
    grid-area: torch;
  }

  .potions {
    grid-area: potions;
  }

  .money {
    grid-area: money;
  }

  .equipment {
    .slot {
      margin-bottom: 8px;
      margin-top: 8px;

      h3 {
        text-align: center;
      }

      .slot-line {
        display: grid;
        grid-template-areas: "icon info";
        grid-template-columns: 32px 1fr;
        grid-column-gap: 8px;
        align-items: center;

        .icon {
          grid-area: icon;

          > img {
            border: 0;
          }
        }

        .info {
          grid-area: info;
          margin: 8px 0;

          .modifier {
            margin-left: 16px;
          }

          .extra-skill {
            margin-left: 16px;
          }
          .description {
            margin-left: 16px;
          }
        }
      }
    }

    .separator {
      border-bottom: 1px solid gray;
    }
  }

  .arrow,
  .dart,
  .ration,
  .torch,
  .potions,
  {
    display: grid;
    align-items: center;
    grid-template-areas: "title info" "content content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;

    > h3 {
      grid-area: title;
    }

    .info {
      grid-area: info;
    }

    .content {
      grid-area: content;

      .ammunition-line {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        &.header {
          font-weight: bold;
        }

        display: grid;
        grid-template-columns: 48px 50px 1fr 32px;
        grid-column-gap: 8px;
        grid-template-areas: "icon quantity name actions";
        align-items: center;

        .icon {
          grid-area: icon;

          > img {
            border: 0;
          }
        }

        .name {
          grid-area: name;          .title {
            font-weight: bold;
          }
          .description {
            color: #555;
          }
        }

        .quantity {
          grid-area: quantity;
          text-align: center;
        }
      }
    }
  }

  .weapons {
    .weapon-line {
      &.header {
        font-weight: bold;
      }

      display: grid;
      grid-template-columns: 50px 32px 1fr 120px 90px 100px 32px;
      grid-column-gap: 8px;
      grid-template-areas: "equiped icon name damage handCount clutter actions";
      align-items: center;
      border-bottom: 1px solid darkgrey;

      .equiped {
        justify-self: center;
        grid-area: equiped;
      }

      .icon {
        > img {
          border: 0;
        }
      }

      .name {
        grid-area: name;
        position: relative;
        .title {
          font-weight: bold;
        }
        .description {
          .content {
            position: relative;
            > * + * {
              border-top: 1px solid white;
              margin-top: 4px;
              padding-top: 4px;
            }
          }
          background: #23221d;
          top: 28px;
          border: 1px solid #000;
          border-radius: 5px;
          color: #EEE;
          z-index: 1;
          visibility: hidden;
          position: absolute;
        }
        &:hover {
          .description {
            visibility: visible;
          }
        }
      }

      .handCount {
        grid-area: handCount;
        justify-self: center;
      }

      .damage {
        grid-area: damage;
      }

      .clutter {
        grid-area: clutter;
        justify-self: center;
      }

      .actions {
        grid-area: actions;
      }
    }
  }
}
