.partial-root-modifiers {

  .modifier-values {
    .modifier-value {
      &.header {
        font-weight: bold;
      }

      display: grid;
      grid-gap: 8px;
      align-items: center;
      grid-template-columns: 150px 100px 30px 60px 100px 60px;
    }
  }

  .base-stats {
    > label {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 8px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
  }

  .level-up-info {
    display: grid;
    grid-template-areas: "level health mana stat";
    grid-template-columns: 80px 150px 150px 80px;

    &.header {
      font-weight: bold;
    }

    .level {
      grid-area: level;
    }

    .stat {
      grid-area: stat;
    }

    .health {
      grid-area: health;
    }

    .mana {
      grid-area: mana;
    }
  }

  .separator {
    height: 1px;
    background-color: black;
    opacity: 0.25;
    width: 480px;
    margin-bottom: 4px;
  }
}

