.partial-root-skills {
  .skill-points:empty {
    display: none;
  }

  .skill-list {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 250px 90px 170px 170px;
    grid-template-areas:
    "jobs-skills jobs-skills combat-skills combat-skills"
    "jobs-skills jobs-skills misc-skills misc-skills"
    "specialities specialities misc-skills misc-skills";

    .sheet-jobs-skills {
      grid-area: jobs-skills;
    }

    .sheet-specialities {
      grid-area: specialities;
    }

    .sheet-combat-skills {
      grid-area: combat-skills;
    }

    .sheet-misc-skills {
      grid-area: misc-skills;
    }

    .sheet-jobs-skills,
    .sheet-specialities,
    .sheet-combat-skills,
    .sheet-misc-skills {
      h3 {
        text-align: center;
      }
    }



    .sheet-skill {
      display: grid;
      grid-template-columns: 145px auto;
      align-items: center;

      .sheet-skill-value {
        display: grid;
        grid-template-columns: 74px 40px 10px 48px;
        grid-gap: 4px;
        align-items: center;

        .affected-by-modifier {
          font-weight: bold;
          text-decoration: underline;
        }

        input[type=checkbox] {
          margin: 1px;
        }
      }
    }

    .sheet-misc-skills,
    .sheet-combat-skills,
    .sheet-specialities,
    .sheet-jobs-skills {
      border: 1px solid black;
      padding: 8px;

      h4 {
        margin: 8px 0;
        font-size: 15px;
        font-weight: bold;
      }
    }

    .sheet-specialities {
      border: 1px solid black;
      padding: 8px;
      .speciality {
        display: grid;
        grid-template-columns: 1fr 80px;
        align-items: center;
        * + * {
          margin-bottom: 8px;
        }
      }
    }

    .separator {
      height: 1px;
      background-color: black;
      opacity: 0.25;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4px;
    }

  }

  .label-with-tooltip-description {
    position: relative;
    .description {
      background: #23221d;
      border: 1px solid #000;
      border-radius: 5px;
      top: 28px;
      left: 40px;
      color: #EEE;
      z-index: 1;
      visibility: hidden;
      position: absolute;
      width: 300px;
    }

    &:hover {
      .description {
        visibility: visible;
      }
    }
  }
}
