@import 'actors/actor-sheet';
@import 'items/item-sheet';
@import 'ui/level-up';

input[type=text] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}

input[type=number] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}
