@import 'actors/actor-sheet';
@import 'items/item-sheet';
@import 'ui/generate-missing-level-up-data-dialog';
@import 'ui/level-up';
@import 'ui/select-speciality-dialog';
@import 'ui/spell-selector-dialog';
@import 'ui/weapon-selector-dialog';
@import 'chat/chat';

input[type=text] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}

input[type=number] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}
