@import 'actors/actor-sheet';
@import 'items/item-sheet';
@import 'ui/level-up';
@import 'ui/select-speciality-dialog';
@import 'ui/spell-selector-dialog';
@import 'ui/weapon-selector-dialog';
@import 'chat/critical-failure-chat';
@import 'chat/skill-roll-damage-chat';
@import 'chat/skill-roll-spell-chat';
@import 'chat/skill-roll-chat';

input[type=text] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}

input[type=number] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}
