@use "skill-roll-chat";
.skill-roll-damage {
  @extend .skill-roll-chat;

  .effect {
    text-align: center;
    font-size: 17px;
  }
  .item {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-areas: "img name"
                         "img damage"
                         "img roll";
    align-items: center;
    column-gap: 8px;

    .name {
      grid-area: name;
      font-size: 15px;
    }

    .damage {
      grid-area: damage;
      font-size: 15px;
    }

    .img {
      grid-area: img;
      width: 48px;
      height: 48px;
    }

    .roll {
      grid-area: roll;
    }


  }
}
