@if (haveAvailableSkillPointsOrPendingPoints$ | async) {
  <fieldset class="available-point">
    <legend>{{'Sheet.Skills.AvailableSkillPoints' | translate}}</legend>
    <ul>
      @if ((characterAvailableSkillPoints$ | async)?.availableSkillPoints?.job_combat; as availablePoints) {
        <li>
          {{availablePoints}} {{'Sheet.Skills.AvailablePoint.job_combat' | translate}}
        </li>
      }
      @if ((characterAvailableSkillPoints$ | async)?.availableSkillPoints?.general; as availablePoints) {
        <li>
          {{availablePoints}} {{'Sheet.Skills.AvailablePoint.general' | translate}}
        </li>
      }
      @if ((characterAvailableSkillPoints$ | async)?.availableSkillPoints?.all; as availablePoints) {
        <li>
          {{availablePoints}} {{'Sheet.Skills.AvailablePoint.all' | translate}}
        </li>
      }
      @if ((characterAvailableSkillPoints$ | async)?.availableSkillPoints?.master; as availablePoints) {
        <li>
          {{availablePoints}} {{'Sheet.Skills.AvailablePoint.master' | translate}}
        </li>
      }
      @if ((characterAvailableSkillPoints$ | async)?.availableSkillPoints?.prodigy; as availablePoints) {
        <li>
          {{availablePoints}} {{'Sheet.Skills.AvailablePoint.prodigy' | translate}}
        </li>
      }
    </ul>
    <button (click)="validPendingPoints()">{{'Sheet.Skills.ConfirmSkillPoints' | translate}}</button>
  </fieldset>
}
<div class="skills">
  <div class="job-categories">
    @for (categoryId of orderedJobsSkillCategoryIds$ | async; track categoryId) {
      <lvl0-skill-category [characterId]="characterId" [categoryId]="categoryId"
        [characterAvailableSkillPoints$] = characterAvailableSkillPoints$
        [skills]="skillsByCategories[categoryId]"/>
    }
    <lvl0-character-specialities [characterId]="characterId" />
  </div>

  <div class="common-categories">
    @for (categoryId of commonSkillCategoryIds; track categoryId) {
      <lvl0-skill-category [characterId]="characterId" [categoryId]="categoryId"
        [characterAvailableSkillPoints$] = characterAvailableSkillPoints$
        [skills]="skillsByCategories[categoryId]"/>
    }
  </div>
</div>
