.skill {
  display: grid;
  gap: 8px;
  grid-template-columns: minmax(165px, 1fr) 17px 40px 10px 60px;
  align-items: center;

  .has-additional-point {
    font-weight: bold;
  }

  .name {
    position: relative;
    margin-block: 5px;
    .open-menu {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .value {
    text-align: right;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-self: center;

    &.manual-value {
      text-decoration: underline;
      padding: 4px;
      border: 1px solid gray;
    }
  }

  .total-value {
    font-size: 1.2rem;
  }

  .master-prodigy {
    display: flex;
  }
}

::ng-deep .theme-light {
  --lvl0-add-skill-point-button-background-color: #bbdfab;
  --lvl0-add-skill-point-button-border-color: #2fad44;
  --lvl0-add-skill-point-button-shadow-color: #115c09;

  --lvl0-remove-skill-point-button-background-color: #dfabab;
  --lvl0-remove-skill-point-button-border-color: #ad2f2f;
  --lvl0-remove-skill-point-button-shadow-color: #5c0909;
}

::ng-deep .theme-dark {
  --lvl0-add-skill-point-button-background-color: #4a833a;
  --lvl0-add-skill-point-button-border-color: #0b8e17;
  --lvl0-add-skill-point-button-shadow-color: #3bb330;

  --lvl0-remove-skill-point-button-background-color: #852929;
  --lvl0-remove-skill-point-button-border-color: #c13131;
  --lvl0-remove-skill-point-button-shadow-color: #6e0b0b;
}

.add-remove-point {
  margin-top: 8px;
  width: 52px;
  margin-left: auto;
  display: flex;
  gap: 8px;
  justify-content: space-between;

  .add-point,
  .remove-point {
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 0;
  }

  .add-point {
    background-color: var(--lvl0-add-skill-point-button-background-color);
    border: 1px solid var(--lvl0-add-skill-point-button-border-color);
    color: var(--color-text-primary);

    &:hover,
    &:focus {
      box-shadow: 0 0 5px var(--lvl0-add-skill-point-button-shadow-color);
    }
  }

  .remove-point {
    background-color: var(--lvl0-remove-skill-point-button-background-color);
    border: 1px solid var(--lvl0-remove-skill-point-button-border-color);

    &:hover,
    &:focus {
      box-shadow: 0 0 5px var(--lvl0-remove-skill-point-button-shadow-color);
    }
  }
}

.visual-points {
  position: absolute;
  bottom: -6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  .active-point {
    height: 4px;
    width: 24px;
  }
  .basic-point {
    background-color: #943636;
  }
  .master-point {
    background-color: #5a6fd7;
  }
  .prodigy-point {
    background-color: #369446;
  }
}
:host {
  display: block;
}

.skill-info {
  display: grid;
  grid-template-columns: 64px minmax(auto, 280px);
  grid-template-areas: "icon title" "icon description" "actions actions";
  gap: 8px;

  .skill-info__title {
    grid-area: title;
    font-size: 1.5rem;
  }

  .skill-info__description {
    grid-area: description;
  }

  .skill-info__icon {
    grid-area: icon;
  }

  .skill-info__actions {
    grid-area: actions;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
