.skills {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.separator {
  height: 1px;
  background-color: var(--color-text-primary);
  opacity: 0.25;
  width: 80%;
  margin: 16px auto;
}
h3 {
  text-align: center;
  font-weight: bold;
  margin-block: 8px;
}
