@let itemsByType = itemsByType$ | async;
@if (itemsByType) {
    @for (category of itemsByType | keyvalue; track category.key) {
        @if (category.value.length) {
            <h2>{{ category.key | translate: 'Misc.ItemType' }}</h2>
            <div class="item-line">
                <div class="equiped">
                    @if (itemTypesConfigs[category.key].canBeEquiped) {
                        <b>Équipé</b>
                    } @else {
                    <b>Utiliser</b>
                }
                </div>
                <div class="name"><b>Nom</b></div>
                <div class="clutter"><b>Encombrement</b></div>
                <div class="quantity"><b>Qtt</b></div>
            </div>
            @for (item of category.value; track item.id) {
                <div class="item-line">
                    <div class="equiped">
                        @if (itemTypesConfigs[category.key].canBeEquiped) {
                            <input type="checkbox" [checked]="item.system.equiped" (change)="equipItem(item, $event)">
                        }
                        @if (isItemActionnable(item)) {
                            <a title="Utiliser" (click)="useItem(item)"><i class="fa fa-play"></i></a>
                        }
                    </div>
                    <div class="icon">
                        <img src="{{item.img}}"/>
                    </div>
                    <div class="quantity">
                        @if (item.system.quantifiable) {
                            <lvl0-relative-value-editor [value]="item.system.quantity" [editable]="true" (onChange)="updateItemQuantity(item, $event)">
                                {{item.system.quantity}}
                            </lvl0-relative-value-editor>
                        }
                    </div>
                    <div class="name">
                        <div>
              <span class="title">
                {{item.name}}
                  @if (item.type === 'wand' && item.system.charge > 0) {
                      - {{item.system.charge}} charge(s)
                  }
              </span>
                        </div>
                        @if (item.system.description) {
                            <div>
                                <span class="description" [innerHTML]="item.system.description | markdown"></span>
                            </div>
                        }
                        @if (item.type === 'shield') {
                            <div class="description">
                                <strong>Dégât: </strong> {{item.system.damage}}
                                <strong>Blocage: </strong> {{item.system.blockValue}}
                            </div>
                        }
                        @if (item.system.restriction) {
                            <div class="restriction">
                                <strong>Limitation: </strong> {{item.system.restriction}}
                            </div>
                        }
                    </div>
                    <div class="clutter">
                        {{item.system.clutter}}
                    </div>
                    <div class="actions item-controls">
                        <a class="item-control" (click)="shareItem(item)" title="Partager l'objet"><i class="fa fa-share"></i></a>
                        <a class="item-control" (click)="editItem(item)" title="Edit Item"><i class="fa fa-edit"></i></a>
                        <a class="item-control" (click)="deleteItem(item)" title="Delete Item"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            }
        }
    }
}
<section>
    <h2 [class.bag-full]="isBagFull$">
        Encombrement ({{ usedInventorySpace$ | async }} / {{ inventoryTotalSpace$ | async }})
    </h2>
    @if (usedCell$ | async; as usedCell) {
        <div class="clutter-table">
            <div class="column">
                <div class="cell"></div>
                @for (letter of inventoryLetters$ | async; track letter) {
                    <div class="cell">{{letter}}</div>
                }
            </div>
            @for (columnNumber of inventoryColumnNumbers$ | async; track columnNumber; let columnIndex = $index) {
                <div class="column">
                    <div class="cell">{{columnNumber}}</div>
                    @for (letter of inventoryLetters$ | async; track letter; let rowIndex = $index) {
                        <div class="cell" [attr.data-item-type]="usedCell[columnIndex + ',' + rowIndex]">
                            @if (usedCell[columnIndex + ',' + rowIndex]) {
                                <div class="description">
                                    {{usedCell[columnIndex + ',' + rowIndex] | translate: 'Misc.ItemType'}}
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    }
</section>
