.skill {
  display: grid;
  gap: 8px;
  grid-template-columns: minmax(165px, 1fr) 17px 40px 10px 60px;
  align-items: center;

  .has-additional-point {
    font-weight: bold;
  }

  .name {
    margin-block: 5px;
    .open-menu {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .value {
    text-align: right;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-self: center;

    &.manual-value {
      text-decoration: underline;
      padding: 4px;
      border: 1px solid gray;
    }
  }

  .total-value {
    font-size: 1.2rem;
  }

  .master-prodigy {
    display: flex;
  }
}

.add-remove-point {
  margin-top: 8px;
  width: 52px;
  margin-left: auto;
  margin-right: 100px;
  display: flex;
  gap: 8px;
  justify-content: space-between;

  .add-point {
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #bbdfab;
    border: 1px solid #2fad44;
    border-radius: 0;

    &:hover,
    &:focus {
      box-shadow: 0 0 5px #115c09;
    }
  }

  .remove-point {
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #dfabab;
    border: 1px solid #ad2f2f;
    border-radius: 0;

    &:hover,
    &:focus {
      box-shadow: 0 0 5px #5c0909;
    }
  }
}

:host {
  display: block;
}

.skill-info {
  display: grid;
  grid-template-columns: 64px minmax(auto, 280px);
  grid-template-areas: "icon title" "icon description" "actions actions";
  gap: 8px;

  .skill-info__title {
    grid-area: title;
    font-size: 1.5rem;
  }

  .skill-info__description {
    grid-area: description;
  }

  .skill-info__icon {
    grid-area: icon;
  }

  .skill-info__actions {
    grid-area: actions;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
