<ng-container *ngIf="itemsByType$ | async let itemsByType">
    @for (category of itemsByType | keyvalue; track category.key) {
        <h2>{{ category.key | translate: 'Misc.ItemType' }}</h2>
        <div class="item-line">
            <div class="equiped">
                <ng-container *ngIf="itemTypesConfigs[category.key].canBeEquiped; else canBeUsedHeader">
                    <b>Équipé</b>
                </ng-container>
                <ng-template #canBeUsedHeader>
                    <b>Utiliser</b>
                </ng-template>
            </div>
            <div class="name"><b>Nom</b></div>
            <div class="clutter"><b>Encombrement</b></div>
            <div class="quantity"><b>Qtt</b></div>
        </div>
        @for (item of category.value; track item.id) {
            <div class="item-line">
                <div class="equiped">
                    <ng-container *ngIf="itemTypesConfigs[category.key].canBeEquiped">
                        <input type="checkbox" [checked]="item.system.equiped" (change)="equipItem(item, $event)">
                    </ng-container>
                    <ng-container *ngIf="isItemActionnable(item)">
                        <a title="Utiliser" (click)="useItem(item)"><i class="fa fa-play"></i></a>
                    </ng-container>
                </div>

                <div class="icon">
                    <img src="{{item.img}}"/>
                </div>
                <div class="quantity">
                    <ng-container *ngIf="item.system.quantifiable">
                        <lvl0-relative-value-editor [value]="item.system.quantity" [editable]="true" (onChange)="updateItemQuantity(item, $event)">
                            {{item.system.quantity}}
                        </lvl0-relative-value-editor>
                    </ng-container>
                </div>
                <div class="name">
                    <div>
                        <span class="title">
                            {{item.name}}
                            <ng-container *ngIf="item.type === 'wand' && item.system.charge > 0"> - {{item.system.charge}} charge(s)</ng-container>
                        </span>
                    </div>
                    <div *ngIf="item.system.description">
                        <span class="description" [innerHTML]="item.system.description | markdown"></span>
                    </div>
                    @if (item.type === 'shield') {
                        <div class="description">
                            <strong>Dégât: </strong> {{item.system.damage}}
                            <strong>Blocage: </strong> {{item.system.blockValue}}
                        </div>
                    }
                    <ng-container *ngIf="item.system.restriction">
                        <div class="restriction">
                            <strong>Limitation: </strong> {{item.system.restriction}}
                        </div>
                    </ng-container>
                </div>
                <div class="clutter">
                    {{item.system.clutter}}
                </div>
                <div class="actions item-controls">
                    <a class="item-control" (click)="shareItem(item)" title="Partager l'objet"><i class="fa fa-share"></i></a>
                    <a class="item-control" (click)="editItem(item)" title="Edit Item"><i class="fa fa-edit"></i></a>
                    <a class="item-control" (click)="deleteItem(item)" title="Delete Item"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        }
    }
</ng-container>
<section>
    <h2 [class.bag-full]="isBagFull$">
        Encombrement ({{ usedInventorySpace$ | async }} / {{ inventoryTotalSpace$ | async }})
    </h2>
    <div class="clutter-table" *ngIf="usedCell$ | async as usedCell">
        <div class="column">
            <div class="cell"></div>
            <ng-container *ngFor="let letter of inventoryLetters$ | async">
                <div class="cell">{{letter}}</div>
            </ng-container>
        </div>
        <ng-container *ngFor="let columnNumber of inventoryColumnNumbers$ | async; let columnIndex = index">
            <div class="column">
                <div class="cell">{{columnNumber}}</div>
                <ng-container *ngFor="let letter of inventoryLetters$ | async; let rowIndex = index">
                    <div class="cell" [attr.data-item-type]="usedCell[columnIndex + ',' + rowIndex]">
                        <div class="description" *ngIf="usedCell[columnIndex + ',' + rowIndex]">
                            {{usedCell[columnIndex + ',' + rowIndex] | translate: 'Misc.ItemType'}}
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>

    </div>
</section>
