:host {
  display: flex;
  flex-direction: column;
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  label {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
}
