:host {

  display: grid;
  grid-template-areas:
          "money      weapons   weapons"
          "equipment  weapons   weapons"
          "equipment  arrow     arrow"
          "equipment  dart      dart"
          "equipment  ration    ration"
          "equipment  torch     torch"
          "equipment  potions   potions";
  grid-gap: 8px;
  grid-template-columns: 200px 1fr 190px;

  > section {
    padding: 4px;
  }

  .weapons {
    grid-area: weapons;
  }

  .equipment {
    grid-area: equipment;
  }

  .arrow {
    grid-area: arrow;
  }

  .dart {
    grid-area: dart;
  }

  .ration {
    grid-area: ration;
  }

  .torch {
    grid-area: torch;
  }

  .potions {
    grid-area: potions;
  }

  .money {
    grid-area: money;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .money-detail {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }

  .equipment {
    .slot {
      margin-bottom: 8px;
      margin-top: 8px;

      h3 {
        text-align: center;
      }

      .slot-line {
        display: grid;
        grid-template-areas: "icon info";
        grid-template-columns: 32px 1fr;
        grid-column-gap: 8px;
        align-items: center;

        .icon {
          grid-area: icon;

          > img {
            border: 0;
          }
        }
        .title {
          cursor: pointer;
        }

        .info {
          grid-area: info;
          margin: 8px 0;
        }
      }
    }

    .separator {
      border-bottom: 1px solid gray;
    }
  }

  .arrow,
  .dart,
  .ration,
  .torch,
  .potions,
  {
    display: grid;
    align-items: center;
    grid-template-areas: "title info" "content content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;

    > h3 {
      grid-area: title;
    }

    .info {
      grid-area: info;
    }

    .content {
      grid-area: content;

      .ammunition-line {
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        &.header {
          font-weight: bold;
        }

        display: grid;
        grid-template-columns:  50px 32px 1fr 50px;
        grid-column-gap: 8px;
        grid-template-areas: "quantity icon name actions";
        align-items: center;

        .icon {
          grid-area: icon;

          > img {
            border: 0;
          }
        }

        .name {
          grid-area: name;

          .title {
            cursor: pointer;
          }

          .description {
            color: var(--color-text-secondary);
          }
        }

        .quantity {
          grid-area: quantity;
          text-align: center;
        }

        .actions {
          display: flex;
          flex-direction: row;
          gap: 8px;
        }
      }
    }
  }

  .weapons {
    .weapon-line {
      &.header {
        font-weight: bold;
        padding-block: 4px;
      }

      display: grid;
      grid-template-columns: 50px 32px 1fr 120px 50px;
      grid-column-gap: 8px;
      grid-template-areas: "equiped icon name damage actions";
      align-items: center;
      border-bottom: 1px solid darkgrey;

      .equiped {
        justify-self: center;
        grid-area: equiped;
      }

      .icon {
        margin-block: 4px;
        max-height: 32px;
        > img {
          border: 0;
        }
      }

      .name {
        grid-area: name;
        position: relative;
        cursor: pointer;
      }

      .damage {
        grid-area: damage;
      }

      .actions {
        grid-area: actions;
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }
  }
}
