@if (data) {
  <h2>Passage au niveau <strong>{{data.toLevel}}</strong></h2>
  @if (data.toLevel === 1) {
    <div>
      <div class="dices">
        <span>Gain de 2d6 oricaux</span>
        @if (moneyDices) {
          <div class="inputs">
            <input type="number" [(ngModel)]="moneyDices[0]" />
            <input type="number" [(ngModel)]="moneyDices[1]" />
            <span>
              <button (click)="rollMoneyDices()">Rouler les dés</button>
            </span>
          </div>
        }
      </div>
    </div>
  }
  @if (data.additionalHealth?.value; as value) {
    <div>
      Gain de {{value}} point(s) de vie
    </div>
  }
  @if (data.additionalHealth?.diceCount; as diceCount) {
    <div>
      <div class="dices">
        Gain de {{diceCount}}d6 point(s) de vie
        @if (additionalHealthDices) {
          <div class="inputs">
            @for (d of generateArray(diceCount); track d; let index = $index) {
              <input type="number" [(ngModel)]="additionalHealthDices[index]"/>
            }
            <span>
              <button (click)="rollHealthDice()">Rouler les dés</button>
            </span>
          </div>
        }
      </div>
    </div>
  }
  @if (data.additionalMana?.value; as value) {
    <div>
      Gain de {{value}} point(s) de mana
    </div>
  }
  @if (data.additionalMana?.diceCount; as diceCount) {
    <div>
      <div>
        Gain de {{diceCount}}d6 point(s) de mana
      </div>
      @if (additionalManaDices) {
        <div class="inputs">
          @for (d of generateArray(diceCount); track d; let index = $index) {
            <input type="number" [(ngModel)]="additionalManaDices[index]"/>
          }
          <span>
            <button (click)="rollManaDice()">Rouler les dés</button>
          </span>
        </div>
      }
    </div>
  }
  @if (data.hasAdditionalPointInStat) {
    <div class="form-group">
      <label>Gain d'un point dans une caractéristique</label>
      <div class="form-fields">
        @for (basicStat of basicStats; track basicStat) {
          <label>
            <input [value]="basicStat" type="radio" [(ngModel)]="additionalStat">
            {{basicStat}}
          </label>
        }
      </div>
    </div>
  }
  <div class="actions">
    <button (click)="cancel()">Annuler</button>
    <button (click)="valid()" [disabled]="!isValid()">Valider</button>
  </div>
}

