<!--
<ng-container *ngIf="fieldValue !== undefined; else readonly">
    <div class="inline-form">
        <input #editField type="text" [(ngModel)]="fieldValue" (keydown.enter)="validEditButton.click()">
        <button (click)="validChange()" #validEditButton>OK</button>
    </div>
</ng-container>
<ng-template #readonly>
    <div (click)="startEdit()" [class.editable-value]="true">
        <ng-content />
    </div>
</ng-template>
-->
<div [cdkMenuTriggerFor]="editMenu" [class.editable-value]="true" (cdkMenuOpened)="startEdit()">
    <ng-content />
</div>
<ng-template #editMenu>
    <div class="app window-app" cdkMenu #menuContent=cdkMenu>
        <div class="window-content">
            <div class="inline-form">
                <input #editField type="text" [(ngModel)]="fieldValue" (keydown.enter)="validEditButton.click()">
                <button (click)="validChange(menuContent)" #validEditButton>OK</button>
            </div>
            <div class="help-message">
                <i class="fa fa-info-circle"></i>
                <span>Vous pouvez utiliser des valeur relative tel que '+3' ou '-5' pour augmenter ou réduire la valeur, ou mettre une nouvelle valeur absolue.</span>
            </div>
        </div>
    </div>
</ng-template>
