.inline-form {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  > input {
    text-align: center;
    font-size: 1.5em;
  }
}

.help-message {
  max-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--color-text-secondary);
}
.editable-value {
    cursor: pointer;
}
